:root {
  --border-input: #8f8f8f;
  --table-text-color: #585858;
  --placeholder-color: #b9b9b9;
  --table-border: #d3d3d3;
  --color-label: #8f8f8f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

header,
main,
footer {
  width: 100%;
  padding: 1rem;
  border: 1px solid #9b9b9b;
}

main {
  flex-grow: 1;
}

button {
  cursor: pointer;
}

button:disabled {
  pointer-events: none;
}
